{% extends 'base.html.twig' %}

{% block title %}Nouvelle formation{% endblock %}

{% block pagetitle %}Ajouter une nouvelle formation{% endblock %}

{% block body %}

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('app_course_index') }}">Retour à la liste</a>
{% endblock %}
