{% extends 'base.html.twig' %}

{% block title %}Modification étudiant{% endblock %}

{% block pagetitle %}Modifier la fiche étudiante{% endblock %}

{% block body %}

    {{ include('student/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_student_index') }}">Retour à la liste</a>

    {{ include('student/_delete_form.html.twig') }}
{% endblock %}
