<ul>
    <li><a href="{{ path('app_student_new') }}">Gestion de l'annuaire EMISA</a></li>
    <li><a href="{{ path('app_course_index') }}">Gestion des formations</a></li>
    <li><a href="{{ path('app_student_index') }}">Gestion des étudiants</a></li>
</ul>