{% extends 'base.html.twig' %}

{% block title %}Modification message{% endblock %}

{% block pagetitle %}Modifier un message{% endblock %}

{% block body %}

    {{ include('message/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_message_index') }}">Retour à la liste</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
