{% extends 'base.html.twig' %}

{% block title %}Nouveau message{% endblock %}

{% block pagetitle %}Créer un nouveau message{% endblock %}

{% block body %}

    {{ include('message/_form.html.twig') }}

    <a href="{{ path('app_message_index') }}">Retour à la liste</a>
{% endblock %}
